In [81]:
import pandas as pd

df = pd.read_excel("Materiais.xlsx")

display(df)

,Id_material,Nome,Quantidade_uso,Unidade,Setor_uso,Custo_unitario,Fornecedor,Filial,Turno
0,1,fugit,44.59,kg,Higiene,190.84,Rios,Casa Grande das Pedras,Manhã
1,2,esse,8.19,kg,Produção,14.00,Cavalcanti Vasconcelos S/A,Mendonça,Noite
2,3,quod,4.86,unidade,Higiene,94.99,Jesus,Fernandes,Manhã
3,4,inventore,45.94,unidade,Produção,98.76,Silveira,Peixoto das Flores,Manhã
4,5,sit,45.55,litro,Higiene,-5.00,Campos da Paz - ME,Novaes,Manhã
...,...,...,...,...,...,...,...,...,...
95,96,libero,19.95,litro,Produção,157.56,da Cunha,Jesus de Aragão,Tarde
96,97,perferendis,47.81,unidade,Cozinha,51.90,Barbosa,Moreira,Noite
97,98,commodi,44.19,kg,Cozinha,173.94,Aragão Ltda.,Nascimento,Manhã
98,99,nostrum,15.59,kg,Higiene,18.63,da Costa,Gomes,Noite
99,100,in,2.07,unidade,Higiene,177.74,Barbosa,Cavalcanti,Tarde

In [82]:
df = df.drop(columns="Nome")
display(df)

,Id_material,Quantidade_uso,Unidade,Setor_uso,Custo_unitario,Fornecedor,Filial,Turno
0,1,44.59,kg,Higiene,190.84,Rios,Casa Grande das Pedras,Manhã
1,2,8.19,kg,Produção,14.00,Cavalcanti Vasconcelos S/A,Mendonça,Noite
2,3,4.86,unidade,Higiene,94.99,Jesus,Fernandes,Manhã
3,4,45.94,unidade,Produção,98.76,Silveira,Peixoto das Flores,Manhã
4,5,45.55,litro,Higiene,-5.00,Campos da Paz - ME,Novaes,Manhã
...,...,...,...,...,...,...,...,...
95,96,19.95,litro,Produção,157.56,da Cunha,Jesus de Aragão,Tarde
96,97,47.81,unidade,Cozinha,51.90,Barbosa,Moreira,Noite
97,98,44.19,kg,Cozinha,173.94,Aragão Ltda.,Nascimento,Manhã
98,99,15.59,kg,Higiene,18.63,da Costa,Gomes,Noite
99,100,2.07,unidade,Higiene,177.74,Barbosa,Cavalcanti,Tarde

In [83]:
df['Quantidade_uso'].fillna('Desconhecido', inplace=True)
display(df)

C:\Users\46859443804\AppData\Local\Temp\ipykernel_29140\585092385.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Quantidade_uso'].fillna('Desconhecido', inplace=True)

,Id_material,Quantidade_uso,Unidade,Setor_uso,Custo_unitario,Fornecedor,Filial,Turno
0,1,44.59,kg,Higiene,190.84,Rios,Casa Grande das Pedras,Manhã
1,2,8.19,kg,Produção,14.00,Cavalcanti Vasconcelos S/A,Mendonça,Noite
2,3,4.86,unidade,Higiene,94.99,Jesus,Fernandes,Manhã
3,4,45.94,unidade,Produção,98.76,Silveira,Peixoto das Flores,Manhã
4,5,45.55,litro,Higiene,-5.00,Campos da Paz - ME,Novaes,Manhã
...,...,...,...,...,...,...,...,...
95,96,19.95,litro,Produção,157.56,da Cunha,Jesus de Aragão,Tarde
96,97,47.81,unidade,Cozinha,51.90,Barbosa,Moreira,Noite
97,98,44.19,kg,Cozinha,173.94,Aragão Ltda.,Nascimento,Manhã
98,99,15.59,kg,Higiene,18.63,da Costa,Gomes,Noite
99,100,2.07,unidade,Higiene,177.74,Barbosa,Cavalcanti,Tarde

In [84]:
df['Setor_uso'].fillna('Desconhecido', inplace=True)
display(df)

C:\Users\46859443804\AppData\Local\Temp\ipykernel_29140\335886105.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Setor_uso'].fillna('Desconhecido', inplace=True)

,Id_material,Quantidade_uso,Unidade,Setor_uso,Custo_unitario,Fornecedor,Filial,Turno
0,1,44.59,kg,Higiene,190.84,Rios,Casa Grande das Pedras,Manhã
1,2,8.19,kg,Produção,14.00,Cavalcanti Vasconcelos S/A,Mendonça,Noite
2,3,4.86,unidade,Higiene,94.99,Jesus,Fernandes,Manhã
3,4,45.94,unidade,Produção,98.76,Silveira,Peixoto das Flores,Manhã
4,5,45.55,litro,Higiene,-5.00,Campos da Paz - ME,Novaes,Manhã
...,...,...,...,...,...,...,...,...
95,96,19.95,litro,Produção,157.56,da Cunha,Jesus de Aragão,Tarde
96,97,47.81,unidade,Cozinha,51.90,Barbosa,Moreira,Noite
97,98,44.19,kg,Cozinha,173.94,Aragão Ltda.,Nascimento,Manhã
98,99,15.59,kg,Higiene,18.63,da Costa,Gomes,Noite
99,100,2.07,unidade,Higiene,177.74,Barbosa,Cavalcanti,Tarde

In [85]:
df['Custo_unitario'].fillna('Desconhecido', inplace=True)
display(df)

C:\Users\46859443804\AppData\Local\Temp\ipykernel_29140\2117855429.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Custo_unitario'].fillna('Desconhecido', inplace=True)

,Id_material,Quantidade_uso,Unidade,Setor_uso,Custo_unitario,Fornecedor,Filial,Turno
0,1,44.59,kg,Higiene,190.84,Rios,Casa Grande das Pedras,Manhã
1,2,8.19,kg,Produção,14.00,Cavalcanti Vasconcelos S/A,Mendonça,Noite
2,3,4.86,unidade,Higiene,94.99,Jesus,Fernandes,Manhã
3,4,45.94,unidade,Produção,98.76,Silveira,Peixoto das Flores,Manhã
4,5,45.55,litro,Higiene,-5.00,Campos da Paz - ME,Novaes,Manhã
...,...,...,...,...,...,...,...,...
95,96,19.95,litro,Produção,157.56,da Cunha,Jesus de Aragão,Tarde
96,97,47.81,unidade,Cozinha,51.90,Barbosa,Moreira,Noite
97,98,44.19,kg,Cozinha,173.94,Aragão Ltda.,Nascimento,Manhã
98,99,15.59,kg,Higiene,18.63,da Costa,Gomes,Noite
99,100,2.07,unidade,Higiene,177.74,Barbosa,Cavalcanti,Tarde

In [86]:
df['Fornecedor'].fillna('Desconhecido', inplace=True)
display(df)

C:\Users\46859443804\AppData\Local\Temp\ipykernel_29140\899019672.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Fornecedor'].fillna('Desconhecido', inplace=True)

,Id_material,Quantidade_uso,Unidade,Setor_uso,Custo_unitario,Fornecedor,Filial,Turno
0,1,44.59,kg,Higiene,190.84,Rios,Casa Grande das Pedras,Manhã
1,2,8.19,kg,Produção,14.00,Cavalcanti Vasconcelos S/A,Mendonça,Noite
2,3,4.86,unidade,Higiene,94.99,Jesus,Fernandes,Manhã
3,4,45.94,unidade,Produção,98.76,Silveira,Peixoto das Flores,Manhã
4,5,45.55,litro,Higiene,-5.00,Campos da Paz - ME,Novaes,Manhã
...,...,...,...,...,...,...,...,...
95,96,19.95,litro,Produção,157.56,da Cunha,Jesus de Aragão,Tarde
96,97,47.81,unidade,Cozinha,51.90,Barbosa,Moreira,Noite
97,98,44.19,kg,Cozinha,173.94,Aragão Ltda.,Nascimento,Manhã
98,99,15.59,kg,Higiene,18.63,da Costa,Gomes,Noite
99,100,2.07,unidade,Higiene,177.74,Barbosa,Cavalcanti,Tarde

In [87]:
df['Filial'].fillna('Desconhecido', inplace=True)
display(df)

C:\Users\46859443804\AppData\Local\Temp\ipykernel_29140\1720589217.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Filial'].fillna('Desconhecido', inplace=True)

,Id_material,Quantidade_uso,Unidade,Setor_uso,Custo_unitario,Fornecedor,Filial,Turno
0,1,44.59,kg,Higiene,190.84,Rios,Casa Grande das Pedras,Manhã
1,2,8.19,kg,Produção,14.00,Cavalcanti Vasconcelos S/A,Mendonça,Noite
2,3,4.86,unidade,Higiene,94.99,Jesus,Fernandes,Manhã
3,4,45.94,unidade,Produção,98.76,Silveira,Peixoto das Flores,Manhã
4,5,45.55,litro,Higiene,-5.00,Campos da Paz - ME,Novaes,Manhã
...,...,...,...,...,...,...,...,...
95,96,19.95,litro,Produção,157.56,da Cunha,Jesus de Aragão,Tarde
96,97,47.81,unidade,Cozinha,51.90,Barbosa,Moreira,Noite
97,98,44.19,kg,Cozinha,173.94,Aragão Ltda.,Nascimento,Manhã
98,99,15.59,kg,Higiene,18.63,da Costa,Gomes,Noite
99,100,2.07,unidade,Higiene,177.74,Barbosa,Cavalcanti,Tarde

In [88]:
df['Turno'].fillna('Desconhecido', inplace=True)
display(df)

C:\Users\46859443804\AppData\Local\Temp\ipykernel_29140\2867831662.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Turno'].fillna('Desconhecido', inplace=True)

,Id_material,Quantidade_uso,Unidade,Setor_uso,Custo_unitario,Fornecedor,Filial,Turno
0,1,44.59,kg,Higiene,190.84,Rios,Casa Grande das Pedras,Manhã
1,2,8.19,kg,Produção,14.00,Cavalcanti Vasconcelos S/A,Mendonça,Noite
2,3,4.86,unidade,Higiene,94.99,Jesus,Fernandes,Manhã
3,4,45.94,unidade,Produção,98.76,Silveira,Peixoto das Flores,Manhã
4,5,45.55,litro,Higiene,-5.00,Campos da Paz - ME,Novaes,Manhã
...,...,...,...,...,...,...,...,...
95,96,19.95,litro,Produção,157.56,da Cunha,Jesus de Aragão,Tarde
96,97,47.81,unidade,Cozinha,51.90,Barbosa,Moreira,Noite
97,98,44.19,kg,Cozinha,173.94,Aragão Ltda.,Nascimento,Manhã
98,99,15.59,kg,Higiene,18.63,da Costa,Gomes,Noite
99,100,2.07,unidade,Higiene,177.74,Barbosa,Cavalcanti,Tarde

In [89]:
df.to_excel("tratamento.xlsx")

In [90]:
df = pd.read_excel("tratamento.xlsx")
display(df)

,Unnamed: 0,Id_material,Quantidade_uso,Unidade,Setor_uso,Custo_unitario,Fornecedor,Filial,Turno
0,0,1,44.59,kg,Higiene,190.84,Rios,Casa Grande das Pedras,Manhã
1,1,2,8.19,kg,Produção,14.00,Cavalcanti Vasconcelos S/A,Mendonça,Noite
2,2,3,4.86,unidade,Higiene,94.99,Jesus,Fernandes,Manhã
3,3,4,45.94,unidade,Produção,98.76,Silveira,Peixoto das Flores,Manhã
4,4,5,45.55,litro,Higiene,-5.00,Campos da Paz - ME,Novaes,Manhã
...,...,...,...,...,...,...,...,...,...
95,95,96,19.95,litro,Produção,157.56,da Cunha,Jesus de Aragão,Tarde
96,96,97,47.81,unidade,Cozinha,51.90,Barbosa,Moreira,Noite
97,97,98,44.19,kg,Cozinha,173.94,Aragão Ltda.,Nascimento,Manhã
98,98,99,15.59,kg,Higiene,18.63,da Costa,Gomes,Noite
99,99,100,2.07,unidade,Higiene,177.74,Barbosa,Cavalcanti,Tarde